﻿<!DOCTYPE html>
<html>
<head>
    <title>Place Autocomplete</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    @Styles.Render("~/Content/css")
</head>
<body>

        @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcvoWzhTJNaxtK9JVkHvmJMyudexOC8Qw&libraries=places&callback=initMap" async defer></script>
</body>
</html>
